
@{
    ViewBag.Title = "CreateRentReady";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateRentReady</h2>

@Html.ActionLink("Back to list", "Index", "Home", null, new { @class = "btn btn-default" })
