
@{
    ViewBag.Title = "CustomerNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="">Customer was not found</h2>

<div>
    @Html.ActionLink("Back to List", "Index", "Home", null, new { @class = "btn btn-default" })
</div>

