body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}


.body-content {
    
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    min-width: 1150px;
    width: 1170px;
    min-height: 1020px;
    border: 3px solid gray;
    border-style: outset; 
}

footer {
    position:static;
    bottom: 0;
    width: 100%;
    background: linear-gradient(24deg, #a9a9a9, #353535);
    color: white;
    
}
body {
    /*background: darkgrey;*/

    background-image: url("/Content/Images/background.jpg"), linear-gradient(45deg, #a9a9a9, #add8e6);
    background-repeat: no-repeat;
    min-width: 1000px;
}


.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    height: 1000px;
    width: 100%;
    margin-left: 0%;
    border: 0px solid;
    min-width: 1000px;
}

.filters {
    height: 50px;
    width: 100%;
    padding: 50px 0 50px 50px;
    
}

.typeFilter {
float: left;
    margin-left: 40px;
}

.priceFilter {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}

.line {
    float: left;
    min-width: 1000px;
    height: 750px;
}


.product {
    background: #666666;
    color: white;
    height: 340px;
    width: 300px;
    min-width: 300px;
    min-height: 340px;
    margin-left: 60px;
    margin-top: 70px;
    border: 3px solid darkgrey;
    border-style: outset;
    border-radius: 10px;
    float: left;
}

    .product:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.image {
    margin-left: 15px;
    width: 270px;
    height: 170px;
    border-radius: 10px;
    border: 0px solid;
    margin-top: 10px;
    min-width: 270px;
    min-height: 170px;
}
.img {
    margin-left: -3px;
}

.model {
    font-family: Georgia, serif;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    margin-left: 10px;
}
.year {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    margin-left: 20px;
}
.type {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    margin-left: 20px;
}
.price {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    margin-left: 20px;
}

.pager {
    text-align: right;
    border-top: 2px solid silver;
}

.pager div {
    padding: 0 .4em 0 .4em;
    color: #666;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 8px;
}

.pager div:hover {
        background-color: lightskyblue;
    }

.pager:hover {
    
}

.pager>a>div.selected {
    background-color: #353535;
    color: white;
}
.rentButton {
    float: right;
    margin-right: 30px;
    margin-top: -30px;
}
.taken {
    background: white !important;
    color: black !important;
}
.offer {
    width: 100%;
}
.image-container {
    width: 400px;
    height: 300px;
    float: left;
    margin: 50px;
}
.offer-image {
    display: inline-block;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    
}
.desc-container {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    font-weight: bolder;
    width: 700px;
    margin-left: 450px;
    margin-bottom: 50px;
}
.offer-model {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
}

.customers {
    min-width: 1150px;
    min-height: 1020px;
}

.customer {
    min-width: 1135px;
    min-height: 70px;
    width: 1135px;
    border: 2px solid;
    text-align: center;
    margin-top: 10px;
}

.customerId {
    padding-top: 18px;
    min-width: 100px;
    min-height: 70px;
    text-align: center;
    float: left;
    font-size: 22px;
}
.customerName {
    font-size: 18px;
    padding-left: 25px;
    padding-top: 9px;
    min-width: 100px;
    min-height: 70px;
    float: left;
}
.firstName {
    min-width: 100px;
    min-height: 30px;
    text-align: center;
}

.surname {
    min-width: 100px;
    min-height: 30px;
    text-align: center;
}
.email {
    padding-left: 150px;
    padding-top: 20px;
    min-width: 100px;
    min-height: 70px;
    text-align: center;
    float: left;
    text-align: center;
    font-size: 18px;
}
.customerDetails {
    min-width: 50px;
    min-height: 70px;
    margin-right: 0;
    padding-top: 18px;
}

.customerOffer {
    background: #666666;
    color: white;
    height: 400px;
    width: 300px;
    min-width: 300px;
    min-height: 400px;
    margin-left: 60px;
    margin-top: 30px;
    border: 3px solid darkgrey;
    border-style: outset;
    border-radius: 10px;
    float: left;
}

.rentParameters {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    text-align: left;
    font-weight: bolder;
    margin-left: 20px;
}